/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  box-sizing: border-box;
  color: #646A75;
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   HackBU Hackathon 2015
   ========================================================================== */


.button {
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  min-width: 11.250em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button--white {
  border-color: #fff;
  color: #fff;
}

.button--gray {
  border-color: #4D5666;
  color: #4D5666;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

.section {
  padding: 2em 1em;
}

.section__title {
  color: #4D5666;
  font-family: "Karla", sans-serif;
  font-size: 2.750em;
  font-weight: 700;
}

.header {
  background: url("../img/header-background.jpg");
  background-size: cover;
  background-position: bottom;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.logo--header {
  height: 4.250em;
  margin: 0 1em;
  width: 4.063em;
}

.header__navigation__list {
  display: flex;
  font-size: 0.875em;
  font-weight: semibold;
  letter-spacing: 3px;
  list-style: none;
  text-align: right;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.header__navigation__list li {
  align-items: center;
  display: flex;
}

.header__navigation__list a {
  color: #fff;
  display: block;
  padding: 1em;
  text-decoration: none;
}

.header__cta__hackbu {
  display: block;
  margin: 9em auto 3em auto;
  max-height: 4.375em;
  max-width: 30.625em;
}

.header__cta__tagline {
  color: #fff;
  font-family: "Karla";
  font-size: 1.085em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 8em;
  text-align:center;
}

.header__cta__buttons {
  margin: 3em 0;
  text-align: center;

}

.header__cta__buttons__button {
  margin: 0 0.4em;
}


.about__info-container {
  display: flex;
}

.about__info {
  flex: 1;
}

.about__info__description {
  font-size: 1.563em;
  letter-spacing: 0.5px;
  line-height: 2.250em;
}

.about__details {
  display: flex;
}

.about__details__item {
  flex: 1;
}

.about__graphic {
  height: 310px;
  width: 360px;
}

.about__details__item__title {
  border-top: 2px solid #40B26F;
  color: #40B26F;
  display: inline-block;
  font-family: "Karla";
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-top: 4px;
  text-transform: uppercase;

}

.about__details__item__detail {
  font-size: 1.125em;
  letter-spacing: 0.5px;
  line-height: 1.500em;
}



.map {
  height: 400px;
}


.sponsors {
  background: #EDEDED;
}

.sponsors__buttons {
  text-align: center;
}

.faq__row {
  display: flex;
}

.faq__row__item {
  flex: 1;
}

.faq__row__item__question {
  color: #4D5666;
  font-family: "Karla";
  font-size: 1.375em;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.faq__contact__icon {
  display: block;
  margin: 3em auto;
  height: 1.563em;
  width: 2.500em;
}

.faq__contact__text {
  font-size: 1.250em;
  text-align: center;
}

.faq__contact__text a {
  color: #40B26F;
  text-decoration: none;
}

.footer {
  background: #EDEDED;
  display: flex;
  justify-content: space-between;
}

.footer__about {
  color: #4D5666;
  font-size: 0.75em;
  letter-spacing: 0.5px;

}

.footer a {
  color: #4D5666;

}
.footer__social__list {
  color: #4D5666;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.footer__social__list li {
  align-items: center;
  display: flex;
}

.footer__social__list a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
